h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* body */
.body-style {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.list-ground {
  background-color: #ffffff;
}

/* google fonts */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* font */
body {
  font-family: "Roboto", "Raleway";
}

/* list formatting */
ul,
ol {
  list-style-type: none;
  text-decoration: none;
}

/* text formatting */
/* h3 on left dla Section 1, Section 3-"Our Portfolio"*/
.hthree-left {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

/* center whole */
.center {
  text-align: center;
}

/* formating from the top */
/* Section "header" */

.header-style {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-general {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
  color: #4d5ae5;
}

/* logo part-"studio" header */
.studio-logo {
  color: #2e2f42;
}

.navi-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2e2f42;
  font-style: normal;
  padding: 24px 0;
}

.navi-menu-studio {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navi-menu-studio::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.navi-menu:hover,
.navi-menu:focus {
  color: #404bbf;
}

.menu-flex {
  display: flex;
  gap: 40px;
}

.address-style {
  font-style: normal;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.menu-telflex {
  display: flex;
  gap: 40px;
}

/* Section 1 "Hero" */
/* h1 */
.hero-space {
  background-color: #2e2f42;
  padding: 188px 0;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-image {
  max-width: 1440px;
  height: 600px;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h-one {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  word-break: normal;
  text-align: center;
  margin-bottom: 48px;
  max-width: 496px;
}
/* button */
.bat-ton {
  font-family: "Roboto", sans-serif;
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: left 635.5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.bat-ton:hover,
.bat-ton:focus {
  background-color: #404bbf;
}

/* Section 1 "Effective..."*/
/* nie wyznaczałem zakresu height i width dla tej sekcji */
/* nagłówek h2 - jest ukrytu*/
/* h2 center */

.effective-general {
  padding: 120px 0;
}

.h-two {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  padding-left: 600px;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.effective-flex {
  display: flex;
  gap: 24px;
}
.effective-li {
  width: calc((100% - 72px) / 4);
}

.effective-icons {
  background-color: #f4f4fd;
  width: 100%;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.effective-svg {
  width: 64px;
  height: 64px;
}
.effective-hthree {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.text-left {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 2 "Our Team" */

.team-space {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
  padding: 120px 0;
}
.sectiontwo-flex {
  display: flex;
  gap: 24px;
  /* przeniesione z .team-li - jakby co to niech tam wróci */
  width: calc((100% - 72px) / 4);
}
.htwo-team {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}
.team-li {
  /* spawdzćm, czy nie ściągnąć width: calc z sectiontwo-flex */
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-job {
  padding: 32px 0px;
}

.team-icons-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-icons {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h3 center for Section 2-"Our Team"*/
.hthree-team {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}
/* text center for Section 2-"Our Team"*/
.text-team {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.name-job-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.job-link {
  width: 40px;
  height: 40px;
}

.job-link-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.job-link-svg:hover {
  background-color: #404bbf;
}

.job-link-svg:focus {
  background-color: #404bbf;
}
.link-svg {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.team-svg {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
}
/* Section 3 "Our Portfolio" */
.portfolio-general {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}
.app-name {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.htwo-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: #2e2f42;
}

.text-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
}
.box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay {
  transform: translateY(0%);
}
/*
.overlay-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* footer */
.footer-style {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-bottom: 16px;
}

/* Logo part-"studo" footer */
.studiologo-footer {
  color: #f4f4fd;
}
/* text footer */
.text-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
